:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center
}

.content-principal{
  
    margin-left: 150px;
    width:800px;
    height:600px;  
}

.title {
    width: 550px;
    height: 54px;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.105em;
    color: var(--purple);
    font-family: 'Poppins';
    margin: 250px 160px 10px;
    
}

#counter {
    font-size: 60px;
    color: var(--black);
    letter-spacing: 15px;
    font-family: 'Poppins';
    margin-top: -10px;
    margin-left: 100px;
}

.text {
    font-size: 20px;
    word-spacing: 70px;
    font-family: 'Poppins';
    margin-left: 100px;

}

.subtitle {
    width: 400px;
    height: 21px;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    margin: 0px 240px 10px;
    font-family: 'Poppins';
    color: var(--text-color);
}

.btn {
    margin: 5px;
    width:160px;
    margin-left: 350px;

}

.btn-content {
    width: 160px;
    height: 46px;
    border-style: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--purple);
    color: #FFFFFF;
    transition: .3s ease all; 
    font-family: 'Poppins';
}

.btn-content:hover {
    background-color:var(--black);
    color: white;
}

.image {
    height: 500px;
    width: 800px;
    margin-left: 1000px;
    position: absolute;
    margin-top: 150px;
}

/*Footer*/
.content-footer{
    text-align: center;
    margin-top: 270px;
    padding: 15px;
    font-family: 'Poppins';
    color:var(--purple);
}

.gitHub, .linkedin{
    font-size: 30px;
    padding: 5px;
    
 }

 footer a:visited{
     color:var(--purple)
 };